/* ==========================================================
1. HEADER for all pages
========================================================== */

header {
  background-color: var(--inverted-background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  display: flex;
  margin: 5vw auto; 
  height: 8vh;
  min-height: 60px;
  max-height: 160px;
  position: sticky;
  top: 2vh;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 12px -2px rgba(255, 255, 255, 0.5), 0 6px 6px rgba(0, 0, 0, 0.2);
  z-index: 5;
  color: white;

  section {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;

    img {
      width: 50px;
      height: auto;
    }

    button {
      all: unset;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  }
}

/* ==========================================================
2. menu drawer for all pages
s======================================= */

/* menu drawer */

nav:nth-of-type(1) {

  position: fixed; 
  top: 0;
  right: 0;
  width: 100%; 
  height: 100dvh;
  display: flex; 
  flex-direction: column;
    background-image: linear-gradient(
    155deg,
    hsl(0deg 0% 24%) 0%,
    hsl(0deg 0% 21%) 6%,
    hsl(0deg 0% 18%) 13%,
    hsl(0deg 0% 15%) 23%,
    hsl(0deg 0% 12%) 34%,
    hsl(0deg 0% 9%) 47%,
    hsl(0deg 0% 6%) 63%,
    hsl(0deg 0% 3%) 80%,
    hsl(0deg 0% 0%) 100%
  );
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 7;

  &.active {
    transform: translateX(0);
  }

  section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    img {
      width: 15vw;
      height: auto;
    }

    button {
      all: unset;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  ul {
    border-top: 2px solid white;

    li {
      border-bottom: 2px solid white;

    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 1.4rem;
      color: white;
      margin: 1rem 0;
      padding: 0rem 2rem;

      span {
        position: relative;

        &.active {

          &::after {
            content: url("data:image/svg+xml,%3Csvg width='168' height='51' viewBox='0 0 168 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.7024 1.91857C65.149 0.636579 93.5024 2.24547 118.481 7.48227C130.971 10.1007 142.52 13.607 151.158 18.057C159.857 22.5378 165.178 27.7516 166.087 33.5972C166.242 35.569 165.885 36.9919 165.12 38.0919C164.334 39.2225 162.989 40.2008 160.822 41.0121C156.418 42.6603 149.271 43.394 138.702 43.823C117.727 44.6743 83.9925 44.3175 34.4551 48.4289C26.6975 49.0728 20.8609 49.0406 16.4435 48.3853C12.0348 47.7313 9.14343 46.4718 7.16334 44.7449C5.19338 43.0267 3.97289 40.7123 3.1561 37.6448C2.33096 34.5459 1.9472 30.8007 1.57361 26.2993C1.22627 22.1136 2.11863 18.7638 4.02682 16.0094C5.95407 13.2275 9.00447 10.929 13.1803 9.03209C21.5772 5.21772 34.0883 3.21449 49.7024 1.91857Z' stroke='%2343A7FF' stroke-width='3'/%3E%3C/svg%3E");
            position: absolute;
            top: -1rem;
            left: -1.5rem;
          }
        }
      }
    }
  }
}

/* ==========================================================
3. MAIN for home page
========================================================== */

main {

  h1 {
    span {
      display: inline-block;
      color: var(--accent);      
    }
  }

  /* Section with profile image and tech stack icons */
  section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
     width: 50vw;
     height: auto;
    } 

    svg:nth-of-type(1) {
      position: absolute;
      top: -2vh;
      left: 5vw;
    }

    .logo {
      background-color: black;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 100%;
      box-shadow: 0px 0px 15px light-dark(white, black);

  
      img {
        width: 1rem;
        height: auto;
      }

      &.css {
        position: absolute;
        top: 8.5rem;
        left: 1.6rem;

        img {
          width: 1.4rem;
        }
        
      }

      &.html {
        position: absolute;
        top: 0rem;
        right: 1rem;

        img {
          width: 1.4rem;
        }
      }

      &.js {
        position: absolute;
        top: 9.5rem;
        right: 1.5rem;

        img {
          width: 1.8rem;
        }
      }

      &.figma {
        position: absolute;
        top: 3.5rem;
        left: 1rem;
      }

      &.node {
        position: absolute;
        top: 5rem;
        right: 0;

        img {
          width: 1.8rem;
        }
      }
    }
  }

  /* section with heading, text, buttons */
  section:nth-of-type(2) {

    h2 {
      margin-top: .5rem;

      span {
        position: relative;
        margin-left: 1rem;

      }

      span::after {
        content: url("data:image/svg+xml,%3Csvg width='149' height='57' viewBox='0 0 149 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M72.1657 2.18054C92.5521 0.488575 111.198 2.03841 124.846 5.86422C131.676 7.77876 137.174 10.241 141.009 13.0873C144.846 15.9356 146.872 19.0498 147.14 22.2797C147.408 25.5095 145.923 28.915 142.608 32.357C139.295 35.7965 134.278 39.1315 127.857 42.1457C115.027 48.1692 96.8914 52.7717 76.5049 54.4637C56.1184 56.1557 37.4727 54.6058 23.8244 50.78C16.9946 48.8654 11.4966 46.4033 7.66185 43.5569C3.82438 40.7085 1.799 37.5945 1.53093 34.3645C1.26295 31.1347 2.74721 27.7292 6.06256 24.2872C9.37565 20.8476 14.3925 17.5127 20.8132 14.4985C33.644 8.47502 51.7792 3.87252 72.1657 2.18054Z' stroke='%2343A7FF' stroke-width='3'/%3E%3C/svg%3E");
        position: absolute;
        top: -.8rem;
        left: -1rem;
        rotate: 3deg;
      }
    }

    p {
      margin: 1rem 0;
    }

    a {
      display: flex;
      align-items: center;
      background-color: var(--accent);
      color: white;
      width: 70vw;
      max-width: 20rem;
      height: 3rem;
      padding: 1rem;
      border-radius: 25px;
      position: relative;
      border: 2px solid var(--accent);
      transition: all .3s linear;
      
      &:hover {
        background-color: transparent;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &::after {
        display: block;
        content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 8.25H15.25M15.25 8.25L8.25 1.25M15.25 8.25L8.25 15.25' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0;
      }
    }
  }

  /* section with my work ( portfolio) */
  section:nth-of-type(3) {
    margin-top: 5rem;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      
      a {
        display: flex;
        align-items: center;
        margin-right: .5rem;
        color: var(--accent);
        text-decoration: underline;

        &::after {
          display: flex;
          line-height: 0;
          margin-left: .5rem;
          content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 8.25H15.25M15.25 8.25L8.25 1.25M15.25 8.25L8.25 15.25' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }

    /* article per work portfolio */
    article {

      img {
        border-radius: 1rem 1rem 0px 0px;
        border: 2px solid white;
        border-bottom: 0;
      }

      p {
        margin-top: 2rem;

        &:nth-of-type(2) {
            background-color: var(--inverted-background);
            backdrop-filter: blur(10px);
            margin-top: -.5rem;
            padding: .5rem;
            border-radius: 0px 0px 1rem 1rem;
        }
      }
    }
  }
}

/* ==========================================================
4. FOOTER for all pages
========================================================== */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;

  background-color: var(--main-background);

  section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}