/* ==========================================================
1. CSS Reset, Global Defaults & Custom Properties
========================================================== */


* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "font", sans-serif;
  text-decoration: none;
}

/* font */

@font-face {
  font-family: "font";
  src: url("/assets/font.ttf");
  font-display: swap;
}

:root {
    color-scheme: light dark;
}

body {
  --main-background: light-dark(white, black);
  --accent: #43A7FF;
  --accent-secondary: #3757CB;

  /* header */
  --inverted-background: light-dark(black, rgba(255, 255, 255, 0.209));

  padding: 1rem;
}
 
html {
  /* hier geen var omdat dit niet goed werkte */
  background-color: light-dark(white, black);
}

img, video {
  width: 100%;
  height: auto;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3, h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

h5, h6 {
  font-size: 1.7rem;
  font-weight: 600;
}

p, a, button {
    font-size: 1rem;
    font-weight: 600;
}